button {
    background-color: whitesmoke;
    font-weight: 700;
    font-size: 18px;
    padding: 16px;
    border: 3px solid whitesmoke;
    cursor: pointer;
    color: black;
    margin-left: 50px;
    justify-self: center;
    clip-path: polygon(100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 0);
    font-family: 'Nerko One', cursive;
}

.button:hover {
    background: black;
    color: whitesmoke;
}