button {
    background-color: gray;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: black;
    margin: 50px;
    justify-self: center;
}