.form {
    display: flex;
    justify-content: center;
}

.form form {
    width: 540px;
    background: rgba(0, 0, 0, 0.6);
    clip-path: polygon(calc(100% - 30px) 0, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0 calc(100% - 30px), 0 30px, 30px 0);
    height: 600px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.form label {
    color: whitesmoke;
}