@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body {
  margin: 0;
  font-family: 'Nerko One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(208,199,190);
  background: linear-gradient(180deg, rgba(208,199,190,1) 0%, rgba(50,47,45,1) 100%);
}

code {
  font-family: 'Nerko One', cursive;
}

body::-webkit-scrollbar {
  width: 10px;
}